* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.name-filter {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
}

.name-filter input {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  padding: 0 0 0 15px;
}

thead {
  background-color: aqua;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

thead tr {
  display: flex;
  justify-content: space-around;
}

thead tr th {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
}

.planet-name {
  display: flex;
}

.planet-element {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 150px;
  word-break: break-all;
}
